URxvt.font:                       xft:Source Code Pro for Powerline:size=11

URxvt*termName: rxvt
URxvt*scrollBar: false
URxvt*matcher.button: 1
URxvt.transparent: false
URxvt*fading: 0
URxvt*tintColor: #ffffff
URxvt*shading: 0
URxvt*inheritPixmap: false

Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*faceName:          Fixed
XTerm*faceSize:          11
XTerm*selectToClipboard: true

! Keybinding
URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard

! Color
URxvt.color0: #3B444F
URxvt.color8: #4A585A
URxvt.color1: #D8B795
URxvt.color9: #D8B795
URxvt.color2: #A5AF86
URxvt.color10: #BDC79E
URxvt.color3: #CD7860
URxvt.color11: #E88773
URxvt.color4: #7A9388
URxvt.color12: #94B1A3
URxvt.color5: #75434C
URxvt.color13: #BB6C73
URxvt.color6: #767D75
URxvt.color14: #9DA69E
URxvt.color7: #C2C2A8
URxvt.color15: #DBDAC1
URxvt.background: #252525
URxvt.foreground: #a3a6ab
URxvt..colorUL: #95b9cc
